body {
    background-color: darkolivegreen;
    padding: 50px;
}

.collapse {
    border: solid;
}

#welcome {
    text-align: center;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway', sans-serif;
  
}

#poem{
    text-align:center;
    font-family: 'Creepster', cursive;
}

